.TaskTodo {
	margin-left: 195px;
	display: grid;
	grid-template-columns: auto 150px 40%;
}
.h1 {
	margin-left: auto;
	color: blue;
}
.iconsDelete {
	max-width: 10px;
}
.input[type='checkbox'] {
	transform: scale(2);
	margin-right: 10px;
	overflow-wrap: break-word;
}
.p {
	text-decoration: underline;
}
